<header class="mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title mdl-badge" data-badge="™">DDayApp (alpha)</span>

    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="" ng-repeat="item in navbar.links track by item.route"
         ui-sref-active="mdl-navigation__link--current" ng-if="item.route" ui-sref="{{ item.route }}">{{ item.label }}</a>
      <a class="mdl-navigation__link" href="" ng-repeat="item in navbar.links track by item.route"
         ng-if="item.onClick" ng-click="item.onClick()">{{ item.label }}</a>
    </nav>
  </div>

  <div ng-transclude></div>
</header>
