<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" mdl-upgrade>

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mdl-badge" data-badge="♥">DDay</span>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"></div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" mdl-upgrade>
          <div class="mdl-tabs__tab-bar">
            <a href="#login" class="mdl-tabs__tab is-active">Login</a>
            <a href="#createAccount" class="mdl-tabs__tab">Create account</a>
            <a href="#resetPassword" class="mdl-tabs__tab">Reset password</a>
          </div>

          <div id="login" class="mdl-tabs__panel is-active">
            <form ng-submit="auth.login.action()">
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="email" class="mdl-textfield__input" type="email" required ng-model="auth.login.email" />
                  <label for="email" class="mdl-textfield__label">email</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="pass" class="mdl-textfield__input" type="password" required ng-model="auth.login.pass" />
                  <label for="pass" class="mdl-textfield__label">password</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" mdl-upgrade>
                  <input id="confirm" class="mdl-checkbox__input" type="checkbox" ng-model="auth.login.confirm" />
                  <span class="mdl-checkbox__label">remember me</span>
                </label>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="pull-right">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
                          type="submit" mdl-upgrade>
                    Login
                  </button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="auth.login.inProgress" mdl-upgrade></div>
          </div>

          <div id="createAccount" class="mdl-tabs__panel">
            <form ng-submit="auth.createAccount.action()">
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="email" class="mdl-textfield__input" type="email" required ng-model="auth.createAccount.email" />
                  <label for="email" class="mdl-textfield__label">email</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="pass" class="mdl-textfield__input" type="password" required ng-model="auth.createAccount.pass" />
                  <label for="pass" class="mdl-textfield__label">password</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="confirm" class="mdl-textfield__input" type="password" required ng-model="auth.createAccount.confirm" />
                  <label for="confirm" class="mdl-textfield__label">confirm password</label>
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="pull-right">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
                          type="submit" mdl-upgrade>
                    Create account
                  </button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="auth.createAccount.inProgress" mdl-upgrade></div>
          </div>

          <div id="resetPassword" class="mdl-tabs__panel">
            <form ng-submit="auth.resetPassword.action()">
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="email" class="mdl-textfield__input" type="email" required ng-model="auth.resetPassword.email" />
                  <label for="email" class="mdl-textfield__label">email</label>
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="pull-right">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
                          type="submit" mdl-upgrade>
                    Reset password
                  </button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="auth.resetPassword.inProgress" mdl-upgrade></div>
          </div>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
    </div>
  </main>

</div>
