.dday-dashboard {
  &--timer {
    height: 200px;
    text-align: center;

    &.mdl-card__supporting-text {
      width: 100%;
      padding: 0;
    }

    &--value {
      margin: 0;
      font-size: 10em;
      line-height: 1em;
    }

    &--title {
      margin: 0;
      font-size: 1.8em;
    }
  }

  &--stats {
    height: 200px;
    text-align: center;

    &.mdl-card__supporting-text {
      width: 100%;
      padding: 0;
    }

    &--value {
      margin: 0;
      font-size: 12em;
      line-height: 1em;
    }

    &--title {
      margin: 0;
      font-size: 1.8em;
    }
  }

  &--project {
    &--desc {
      flex-grow: 1;

      .text {
        padding-right: 17px;
      }
    }

    &--footer {
      padding: 4px;

      &--progress.mdl-progress {
        height: 10px;
      }

      &--team {
        li {
          line-height: 2.5em;
        }
      }
    }
  }
}
