/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "../../bower_components/material-design-lite/src/variables";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
  url('../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
  url('../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

main {
  padding: 20px;
  background: #fafafa;
}

ul {
  padding: 0;
  list-style: none;
}

.dday-section {
  margin: 0 auto;
  max-width: 1140px;
}

.dday-project {
  &.mdl-textfield {
    width: 95%;
  }

  &--desc {
    height: 170px;

    .text {
      padding-right: 17px;
    }
  }

  &--todos-list {
    li {
      line-height: 2.5em;

      label.mdl-checkbox {
        width: auto;
      }

      &.dndPlaceholder {
        border: 1px dashed #ccc;
      }
    }
  }

  &--team-list {
    li {
      line-height: 2.5em;
    }
  }
}

.dday-dashboard {
  &--timer {
    height: 200px;
    text-align: center;

    &.mdl-card__supporting-text {
      width: 100%;
      padding: 0;
    }

    &--value {
      margin: 0;
      font-size: 10em;
      line-height: 1em;
    }

    &--title {
      margin: 0;
      font-size: 2em;
    }
  }

  &--stats {
    height: 240px;
    text-align: center;

    &.mdl-card__supporting-text {
      width: 100%;
      padding: 0;
    }

    &--value {
      margin: 0;
      font-size: 15em;
      line-height: 1em;
    }

    &--title {
      margin: 0;
      font-size: 2em;
    }
  }

  &--project {
    &--desc {
      flex-grow: 1;

      .text {
        padding-right: 17px;
      }
    }

    &--footer {
      &--progress.mdl-progress {
        height: 20px;
      }

      &--team {
        margin: 0;

        li {
          line-height: 3em;
        }
      }
    }
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.strike {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mdl-progress {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
}

.mdl-card {
  min-height: 1px;
  outline: none;
}

.mdl-card__supporting-text {
  width: 95%;
}

.mdl-navigation__link--current {
  background-color: unquote("rgb(#{$color-primary-dark})");
}

.mdl-button--icon.mdl-button--mini-icon {
  & .material-icons {
    top: 50%;
    left: 50%;
  }
}

.mdl-mini-footer {
  padding: 12px;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
