.dday-project {
  &--desc {
    height: 170px;

    .text {
      padding-right: 17px;
    }
  }

  &--todos-list {
    li {
      line-height: 2.5em;

      label.mdl-checkbox {
        width: auto;
      }

      &.dndPlaceholder {
        border: 1px dashed #ccc;
      }
    }
  }

  &--team-list {
    li {
      line-height: 2.5em;
    }
  }
}
