<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" mdl-upgrade>

  <navbar>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="account.inProgress" mdl-upgrade></div>
  </navbar>

  <main class="mdl-layout__content">
    <div class="dday-section mdl-grid" ng-if="!account.inProgress">
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" mdl-upgrade ng-if="account.loggedIn">
          <div class="mdl-tabs__tab-bar">
            <a href="#account" class="mdl-tabs__tab is-active">Account</a>
            <a href="#changePassword" class="mdl-tabs__tab">Change password</a>
          </div>

          <div id="account" class="mdl-tabs__panel is-active">
            <div class="mdl-card__supporting-text mdl-grid">
              <div class="mdl-cell mdl-cell--2-col">
                <img src="" gravatar-src="account.loggedIn.password.email" gravatar-size="80" alt="gravatar" />
              </div>
              <div class="mdl-cell mdl-cell--10-col">
                <h5>{{ ::account.loggedIn.password.email }}</h5>
              </div>
            </div>
          </div>

          <div id="changePassword" class="mdl-tabs__panel">
            <form ng-submit="account.changePassword()">
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="oldPass" class="mdl-textfield__input" type="password" ng-model="account.newPassword.oldPass" />
                  <label for="oldPass" class="mdl-textfield__label">current password</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="newPass" class="mdl-textfield__input" type="password" ng-model="account.newPassword.newPass" />
                  <label for="newPass" class="mdl-textfield__label">new password</label>
                </div>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                  <input id="confirm" class="mdl-textfield__input" type="password" ng-model="account.newPassword.confirm" />
                  <label for="confirm" class="mdl-textfield__label">confirm password</label>
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="pull-right">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
                          type="submit" mdl-upgrade>
                    Change password
                  </button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="account.newPassword.inProgress" mdl-upgrade></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

</div>
