<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" mdl-upgrade>

  <navbar>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="settings.inProgress" mdl-upgrade></div>
  </navbar>

  <main class="mdl-layout__content">
    <div class="dday-section mdl-grid" ng-if="!settings.inProgress">

      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="settings.saving" mdl-upgrade></div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Timer</div>
        </div>

        <div class="mdl-card__supporting-text">
          <p>{{ settings.data.dateTimeCountdown | date:'dd-MM-yyyy hh:mm' }}</p>

          <p>
            <label for="formDate"></label>
            <input type="date" id="formDate" ng-model="settings.form.dateTime.date" />

            <label for="formTime"></label>
            <input type="time" id="formTime" ng-model="settings.form.dateTime.time" />

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                    ng-click="settings.setDateTime()" mdl-upgrade>
              <i class="material-icons">save</i>
            </button>
          </p>

          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formTimerEnabled" mdl-upgrade>
            <input type="checkbox" id="formTimerEnabled" class="mdl-checkbox__input"
                   ng-model="settings.data.timerEnabled" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                timer enabled?
              </span>
          </label>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Voting</div>
        </div>

        <div class="mdl-card__supporting-text">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formVotingEnabled" mdl-upgrade>
            <input type="checkbox" id="formVotingEnabled" class="mdl-checkbox__input"
                   ng-model="settings.data.votingEnabled" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                voting enabled?
              </span>
          </label>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Users</div>
        </div>

        <div class="mdl-card__supporting-text">
          <form ng-submit="settings.createVipUser()">
            <div class="md-18">Create VIP account</div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
              <input id="userEmail" class="mdl-textfield__input" type="email" ng-model="settings.vipUser.email" />
              <label for="userEmail" class="mdl-textfield__label">e-mail address</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
              <input id="userPassword" class="mdl-textfield__input" type="password" ng-model="settings.vipUser.pass" />
              <label for="userPassword" class="mdl-textfield__label">password</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                    type="submit" mdl-upgrade>
              <i class="material-icons">add</i>
            </button>
          </form>

          <ul class="dday-settings--user-list">
            <li ng-repeat="user in settings.users track by $index">
              <img src="" gravatar-src="user.email" gravatar-size="34" alt="gravatar" />
              {{ user.name }}
              <i class="material-icons" ng-if="settings.hasAdminRole(user)">verified_user</i>
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect mdl-button--colored"
                      ng-if="!settings.hasAdminRole(user)" ng-click="settings.toggleUserVipRole(user)" mdl-upgrade>
                <i class="material-icons">{{ settings.hasVipRole(user) ? 'star' : 'star_border' }}</i>
              </button>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </main>

  <footer></footer>

</div>
