<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" mdl-upgrade>

  <navbar>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="settings.inProgress" mdl-upgrade></div>
  </navbar>

  <drawer></drawer>

  <main class="mdl-layout__content">
    <div class="dday-section mdl-grid" ng-if="!settings.inProgress">

      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="settings.saving" mdl-upgrade></div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Shoutbox</div>
        </div>

        <div class="mdl-card__supporting-text">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formShoutboxVisible" mdl-upgrade>
            <input type="checkbox" id="formShoutboxVisible" class="mdl-checkbox__input"
                   ng-model="settings.data.shoutboxVisible" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                shoutbox visible?
              </span>
          </label>

          <hr />

          <ul class="dday-settings--shoutbox" dnd-list="settings.data.shoutboxValues">
            <li ng-repeat="shout in settings.data.shoutboxValues"
                dnd-draggable="shout" dnd-moved="settings.reorderShouts($index)">
                <span ng-hide="shout.editMode">
                  <span class="pointer" ng-click="settings.editShoutStart(shout)">
                    {{ shout.value }}
                  </span>

                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect mdl-button--colored"
                          ng-click="settings.removeShout($index)" mdl-upgrade>
                    <i class="material-icons">clear</i>
                  </button>
                </span>

                <span ng-if="shout.editMode">
                  <form ng-submit="settings.editShoutDone($index, shout)">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                      <input id="edit.shoutValue" class="mdl-textfield__input" type="text"
                             ng-model="shout.value" ng-model-options="{ debounce: 500 }"
                             ng-keyup="settings.ediShoutCheckIfStop($event, shout)" input-focus />
                      <label for="edit.shoutValue" class="mdl-textfield__label"></label>
                    </div>

                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                            mdl-upgrade>
                      <i class="material-icons">save</i>
                    </button>

                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                            type="submit" ng-click="settings.editShoutStop(shout)" mdl-upgrade>
                      <i class="material-icons">cancel</i>
                    </button>
                  </form>
                </span>
            </li>

            <li class="dndPlaceholder">&nbsp;</li>
          </ul>

          <form ng-submit="settings.createShout()">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
              <input id="shoutValue" class="mdl-textfield__input" type="text" ng-model="settings.shout.value" />
              <label for="shoutValue" class="mdl-textfield__label">shout</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                    type="submit" mdl-upgrade>
              <i class="material-icons">add</i>
            </button>
          </form>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Timer</div>
        </div>

        <div class="mdl-card__supporting-text">
          <p>{{ settings.data.dateTimeCountdown | date:'dd-MM-yyyy hh:mm' }}</p>

          <p>
            <label for="formDate"></label>
            <input type="date" id="formDate" ng-model="settings.form.dateTime.date" />

            <label for="formTime"></label>
            <input type="time" id="formTime" ng-model="settings.form.dateTime.time" />

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-icon mdl-js-ripple-effect"
                    ng-click="settings.setDateTime()" mdl-upgrade>
              <i class="material-icons">save</i>
            </button>
          </p>

          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formTimerEnabled" mdl-upgrade>
            <input type="checkbox" id="formTimerEnabled" class="mdl-checkbox__input"
                   ng-model="settings.data.timerEnabled" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                timer enabled?
              </span>
          </label>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Voting</div>
        </div>

        <div class="mdl-card__supporting-text">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formVotingEnabled" mdl-upgrade>
            <input type="checkbox" id="formVotingEnabled" class="mdl-checkbox__input"
                   ng-model="settings.data.votingEnabled" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                voting enabled?
              </span>
          </label>

          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="formVotingResultsVisible" mdl-upgrade>
            <input type="checkbox" id="formVotingResultsVisible" class="mdl-checkbox__input"
                   ng-model="settings.data.votingResultsVisible" ng-change="settings.save()">
              <span class="mdl-checkbox__label">
                voting results visible?
              </span>
          </label>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Users</div>
        </div>

        <div class="mdl-card__supporting-text">
          <ul class="dday-settings--user-list">
            <li ng-repeat="user in settings.users track by $index">
              <img src="" gravatar-src="user.email" gravatar-size="34" alt="gravatar" />
              {{ user.name }}
              <i class="material-icons" ng-if="settings.hasAdminRole(user)">verified_user</i>
            </li>
          </ul>
        </div>
      </div>

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text">Readme</div>
        </div>

        <div class="mdl-card__supporting-text">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" mdl-upgrade>
                <textarea id="description" class="mdl-textfield__input" rows="16" ng-model="settings.data.readme"></textarea>
                <label for="description" class="mdl-textfield__label">description</label>
              </div>
              <div class="mdl-layout-spacer"></div>
              <small>(you can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown syntax</a>)</small>
            </div>
            <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
              <div class="dday-settings--desc">
                <scrollable always-visible="true">
                  <div class="text" btf-markdown="settings.data.readme"></div>
                </scrollable>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-card__actions mdl-card--border">
          <div class="pull-right">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--primary"
                    type="submit" ng-click="settings.save()" mdl-upgrade>
              <i class="material-icons">save</i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </main>

  <footer></footer>

</div>
